{% set classes = [
  'c-event-details',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  {% if event_type %}
    {% include '@components/event-hat/event-hat.twig' %}
  {% endif %}

  <div class="c-event-details__image">
    {% if image_url %}
      <img src="{{ image_url }}" alt="{{ image_alt }}">
    {% endif %}
    {% if month and day %}
      {% include '@components/event-date/event-date.twig' %}
    {% endif %}
  </div>

  <div class="c-event-details__section">
    {% if calendar_link_url and calendar_link_text %}
      <div class="c-event-details__when">
        {% include '@components/icon/icon.twig' with {
          hidden: true,
          label: 'Date',
          icon_name: 'calendar',
        } %}
        <a href="{{ calendar_link_url }}" title="{{ 'Add to calendar'|t }}">
          {{ calendar_link_text|raw }}
        </a>
      </div>
    {% endif %}

    {% if map_link_url and map_link_text %}
      <div class="c-event-details__where">
        {% include '@components/icon/icon.twig' with {
            hidden: true,
            label: 'Location',
            icon_name: 'location',
          } %}
        <a href="{{ map_link_url }}" title="{{ 'Get directions'|t }}">
          {{ map_link_text|raw }}
        </a>
      </div>
    {% endif %}
  </div>

  <div class="c-event-details__section">
    {% for cta in ctas %}
      {% include '@components/button/button.twig' with {
        is_button_tag: false,
        url: cta.url,
        text: cta.text,
        modifier_classes: 'c-button--chevron c-event-details__button',
    } %}
    {% endfor %}

    {% if zoom_details %}
      <div class="c-event-details__info">
        {{ zoom_details|raw }}
      </div>
    {% endif %}
  </div>

  {% if additional_links %}
    <div class="c-event-details__section">
      {% for link in additional_links %}
        <a href="{{ link.url }}" class="c-event-details__link">
          {{ link.text }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

</div>
